@import "../base/variables";
@import "../base/mixins";
@import "../base/reset";

.close {
  float: right;
}

.button-right {
  float: right;
}

.label-text {
  font-weight: 600;
  font-size: 13px;
}

.modal-header {
  color: $grayblack;
  font-weight: 700;
  font-size: 14px;
}

input {
  width: 382.5px!important;
  height:35.1px!important;
}

select {
  width: 382.5px!important;
  height:35.1px!important;
}

.fontsize {
  font-size:14px;
}

.upload-label {
  margin-bottom: 1.8px;
}

.pianta-button {
  color: white;
  text-align: center;
  padding: 7.2px 9px;
  font-weight: 700;
  font-size: 11.7px;
  background-color: $green;
  border-radius: 4.5px;
  margin-left: 4.5px;
}

.pianta-button:hover {
  background-color: $darkgreen;
}

.white-button {
  color: $beigegray;
  text-align: center;
  padding: 7.2px 9px;
  font-weight: 700;
  font-size: 11.7px;
  border-style: solid;
  border-color: $beigegray;
  border-width: .9px;
  border-radius: 4.5px;
  margin-left: 4.5px;
}

.white-button:hover {
  color: $darkgreen;
  border-color: $darkgreen;
}

.img-preview {
  height: 270px;
  width: 270px;
}

textarea {
  width: 378px!important;
  height: 148.5px!important;
}
