@import "../base/variables";
@import "../base/mixins";
@import "../base/reset";

.plants-container {
  margin-left: 36px;
}

.container {
  position: relative;
  color: white;
  margin-right: 17pt;
  margin-bottom: 17pt;

  .plantImg {
    width: 162pt;
    height: 162pt;
  }

  .image-gradient::after {
    display: block;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #000000 150%);
    margin-top: -162px;
    height: 162px;
    width: 100%;
    border-radius: 3%;
    content: '';
  }

  .bottom-left {
    position: absolute;
    bottom: 5pt;
    left: 10pt;
    color: white;
    font-weight: 625;
    font-size: 17.5px;
    text-shadow: 3px 3px 5px black;
  }

  .add-plant {
    width: 162pt;
    height: 162pt;
    background-image: url('/assets/dashed_border.png');
    background-size: cover;
    border-radius: 3%;
    cursor: pointer;
  }

  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $beigegray;
    font-weight: 600;
    font-size: 15px;
  }
}

.greeting {
  font-size: 36px;
  color: $beigegray;
  font-weight: 600;
  height: 100px;
  margin-left: 37px;
  margin-top: 27px;
}

.your-plants {
  font-size: 28px;
  color: $lightgreen;
  font-weight: 600;
  margin-left: 35px;
  margin-bottom: 16px;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
