@import "../base/variables";
@import "../base/mixins";
@import "../base/reset";

.plant-nickname {
  font-size: 23.4px;
  margin-top: 27px;
  font-weight: 600;
}

.plant-commonname {
  font-size: 12.6px;
  margin-bottom: -7.2px;
}

.began-on {
  font-size: 12.6px;
}

.day-num {
  font-size: 12.6px;
  margin-bottom: 13.5px;
}

.journal-date {
  font-size: 16.2px;
  color: $green;
  margin-bottom: 8.1px;
}

.journal-entry {
  font-size: 13.05px;
}

.details-container {
  position: relative;
  margin-top: 27px;
  border-style: solid;
  border-width: 0.45pt;
  border-radius: 3.6px;
  border-color: #cecece;
  padding-left: 11.7px;
  padding-top: 12.6px;
  padding-bottom: 12.6px;
  font-size: 14.5px;

  .edit-button {
    position: absolute;
    top: 7.2px;
    right: 7.2px;
    cursor: pointer;
  }

  .edit-button:hover {
    color: $darkgreen;
  }
}

strong {
  padding-left: 9px;
}

.center-image {
  max-height: calc(100vh - 185px);
}
