@import "../base/variables";
@import "../base/mixins";
@import "../base/reset";

.plants-container {
  margin-left: 32.4px;
}

.container {
  position: relative;
  color: white;
  margin-right: 15.3pt;
  margin-bottom: 15.3pt;

  .plantImg {
    width: 145.8pt;
    height: 145.8pt;
  }

  .image-gradient::after {
    display: block;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #000000 150%);
    margin-top: -145.8px;
    height: 145.8px;
    width: 100%;
    border-radius: 3%;
    content: '';
  }

  .bottom-left {
    position: absolute;
    bottom: 4.5pt;
    left: 9pt;
    color: white;
    font-weight: 625;
    font-size: 15.75px;
    text-shadow: 2.7px 2.7px 4.5px black;
  }

  .add-plant {
    width: 145.8pt;
    height: 145.8pt;
    background-image: url('/assets/dashed_border.png');
    background-size: cover;
    border-radius: 3%;
    cursor: pointer;
  }

  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $beigegray;
    font-weight: 600;
    font-size: 13.5px;
    cursor: pointer;
  }
}

.greeting {
  font-size: 32.4px;
  color: $beigegray;
  font-weight: 600;
  height: 90px;
  margin-left: 33.3px;
  margin-top: 24.3px;
}

.your-plants {
  font-size: 25.2px;
  color: $lightgreen;
  font-weight: 600;
  margin-left: 31.5px;
  margin-bottom: 14.4px;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
