@import "../base/variables";
@import "../base/mixins";
@import "../base/reset";

.vertical-container {
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;

  .vertical-align {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.full-height {
  height: 100vh;
}

.welcome-to {
  font-size: 32.4px;
  color: $beigegray;
  font-weight: 600;
  margin-bottom: 10px;
}

.info {
  color: white;
  background-color: $gray;
  background-image: url('/assets/Side_Banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 31.5px;
  padding-top: 22.5px;
  padding-right: 36px;
}

.sign-in-top-left-logo {
  margin-bottom: 60px;
}

.what-is {
  font-size: 31px;
  font-weight: bold;
}

.feature {
  font-size: 16.2px;
  font-weight: bold;
}

.row-container {
  position: relative;

  .row-vertical-center {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
}

.details {
  font-size: 12.6px;
}

.sign-in {
  background-image: url('/assets/google_sign_in.png');
  width: 191px;
  height: 46px;
  margin: auto;
}

.sign-in:hover {
  background-image: url('/assets/google_sign_in_hover.png');
}
