@import "../base/variables";
@import "../base/mixins";
@import "../base/reset";

#scrollbar {
  height: calc(100vh - 123.3px)!important;
}

.journal-container {
  position: relative;
  background-color: #2b2e2e;
  color: white;
  height: calc(100vh - 61.371px);
  padding: 0;
}

.days {
  font-weight: 700;
}

.days-header {
  text-align: center;
  font-size: 13.05pt;
  margin-top: 12.6pt;
  margin-bottom: 12.6pt;
}

.bottom-right {
  position: absolute;
  bottom: 14.4px;
  right: 15.3px;
}

.snapshot-row {
  margin-left: 0!important;
  margin-right: 0!important;
}

.selected {
  color: white;
}

.unselected {
  zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.5;;
}

.unselected:hover {
  zoom: 1;
	filter: alpha(opacity=75);
	opacity: 0.75;;
}

.float-button {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.snapshot-date {
  font-size: 9pt;
  padding-top: 2.7px;
}

.snapshot {
  border-left-style: solid;
  border-width: .9px;
  border-color: $beigegray;
  font-size: 90%;
}

hr.line {
  color: $beigegray;
  background-color: $beigegray;
  margin: 0;
  margin-bottom: 1.8px;

}
