<% if current_user  %>
  <div id='app'></div>
<% else %>
<div>
  <div class='row'>
    <div class='medium-5 column full-height info'>
      <img class='sign-in-top-left-logo' src='/assets/Pianta_White.png' width='76' height='30' alt='pianta'>

      <div class='what-is'>What is pianta?</div>
      <p class='details'>
        Odio facilis ex per. Eius sonet eu vix. Adipiscing voluptatibus at ius, quodsi forensibus eam in, tritani accumsan pertinacia nec ea.
      </p>
      <br/>

      <div class='row row-container'>
        <div class='small-2 column row-vertical-center'>
          <i class='fa fa-leaf fa-2x fa-fw'></i>
        </div>
        <div class='small-10 column'>
          <div class='feature'>ADD YOUR PLANTS</div>
          <p class='details'>
            Odio facilis ex per. Eius sonet eu vix. Adipiscing voluptatibus at ius, quodsi forensibus eam in, tritani accumsan pertinacia nec ea.
          </p>
        </div>
      </div>
      <br/>

      <div class='row row-container'>
        <div class='small-2 column row-vertical-center'>
          <i class='fa fa-list-alt fa-2x fa-fw'></i>
        </div>
        <div class='small-10 column'>
          <div class='feature'>TRACK GROWTH</div>
          <p class='details'>
            Odio facilis ex per. Eius sonet eu vix. Adipiscing voluptatibus at ius, quodsi forensibus eam in, tritani accumsan pertinacia nec ea.
          </p>
        </div>
      </div>
      <br/>

      <div class='row row-container'>
        <div class='small-2 column row-vertical-center'>
          <i class='fa fa-camera-retro fa-2x fa-fw'></i>
        </div>
        <div class='small-10 column'>
          <div class='feature'>TAKE SNAPSHOTS</div>
          <p class='details'>
            Odio facilis ex per. Eius sonet eu vix. Adipiscing voluptatibus at ius, quodsi forensibus eam in, tritani accumsan pertinacia nec ea.
          </p>
        </div>
      </div>
      <br/>
    </div>

    <div class='medium-7 column full-height'>
      <div class='vertical-container'>
      <div class='vertical-align'>
        <div class='welcome-to'>
          <span> Welcome to </span>
          <img src='/assets/Pianta_Green.png' width='112' height='40' />
        </div>
        <br/>
        <a id='google-sign-in' href='auth/google'>
          <img src='/assets/btn_google_signin_light_normal_web.png' />
        </a>
      </div>
      </div>
    </div>
  </div>
</div>
<% end %>
