<% if current_user  %>
  <div id='app'></div>
<% else %>
<div>
  <div class='row'>
    <div class='small-0 medium-5 column full-height info'>
      <img class='sign-in-top-left-logo' src='/assets/Pianta_White.png' width='70' height='27' alt='pianta'>

      <div class='what-is'>What is pianta?</div>
      <p class='details'>
        Pianta is a virtual journal for your plants.  Keep track of your plants in an easy and fun way!
      </p>
      <br/>

      <div class='row row-container'>
        <div class='small-2 column row-vertical-center'>
          <i class='fa fa-leaf fa-2x fa-fw'></i>
        </div>
        <div class='small-10 column'>
          <div class='feature'>ADD YOUR PLANTS</div>
          <p class='details'>
            Create plant profiles for your plants at home. These profiles can become a great reference of your plants' watering and sunlight needs, in addition to keeping track of the number of days you've had your plant.
          </p>
        </div>
      </div>
      <br/>

      <div class='row row-container'>
        <div class='small-2 column row-vertical-center'>
          <i class='fa fa-list-alt fa-2x fa-fw'></i>
        </div>
        <div class='small-10 column'>
          <div class='feature'>TRACK GROWTH</div>
          <p class='details'>
              Create journal entries for plants which will automatically be added to the plant's timeline, an easy way to track plant growth.
          </p>
        </div>
      </div>
      <br/>

      <div class='row row-container'>
        <div class='small-2 column row-vertical-center'>
          <i class='fa fa-camera fa-2x fa-fw'></i>
        </div>
        <div class='small-10 column'>
          <div class='feature'>TAKE SNAPSHOTS</div>
          <p class='details'>
            Add photos to your journal entries. This is a great way to visualize plant growth over time.
          </p>
        </div>
      </div>
      <br/>
    </div>

    <div class='small-12 medium-7 column full-height'>
      <div class='vertical-container'>
      <div class='vertical-align'>
        <div class='welcome-to'>
          <span> Welcome to </span>
          <img src='/assets/Pianta_Green.png' width='100.8' height='36' />
        </div>

        <a id='google-sign-in' href='auth/google'>
          <div class='sign-in'></div>
        </a>
      </div>
      </div>
    </div>
  </div>
</div>
<% end %>
