<div class='text-center vertical-align'>
  <img src="/assets/Pianta_Green.png" width='358.89' height='142.20' />
  <br/>
  <button>
    <%= link_to 'Sign In With Google', static_pages_path %>
  </button>
</div>
