@import "base/variables";
@import "base/mixins";
@import "base/reset";

// @import "components/form-modal";
// @import "components/plant-show";
// @import "components/sign-in";
// @import "components/plants-index";
// @import "components/timeline-container";



body {
  font-family: 'Open Sans', sans-serif;
}

.top-bar {
  color: white;
  background-color: $lightgreen;
}

.verdant {
  color: white;
  background-color: $lightgreen;
}
