/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 */
body {
  font-family: 'Open Sans', sans-serif;
}

.indexPlant {
  width: 300px;
  height: 300px;
}

#add {
  margin-top: 185px;
  margin-bottom: 150px;
  margin-left: 151px;
}

.top-bar {
  color: white;
  background-color: #aad089
}

.verdant {
  color: white;
  background-color: #aad089;
}

.vertical-align {
  margin-top: 15%;
}

.grey {
  color: #ebebeb
}

div.top-bar a {
  color: white;
}

a {
  color: #555555;

}

a:hover {
  color: #aad089;
}

/* Your Plants: */
#your-plants {
  font-family: OpenSans-SemiBold;
  color: #454545;
  text-align: center;
  margin: 0;
}

h3 {
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 5px;
}

img {
  border-radius: 3%;
  margin-top: 1px;
}

.row {
  max-width: none;
}

/* Container holding the image and the text */
.container {
  position: relative;
  color: white;
  text-align: center;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  /* bottom: 8px;
  right: 66px; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bolder;
  font-size: 20px;
  text-shadow: 3px 3px 5px black;
}

.bottom-right {
  position: absolute;
  bottom: 3px;
  right: 16px;
}

.journal-container {
  position: relative;
  background-color: #2b2e2e;
  color: white;
  height: calc(100vh - 53.75px);
}

.menu {
  background-color: #aad089;
  color: #aad089;
}
